<div class="container-fluid p-0 ">
  <nav class="navbar ">
    <span class="navbar-brand">
      FUTV
    </span>
    <div class="navbar-body">

      <span class="navbar-sections">
        En vivo
      </span>
      <span class="navbar-sections">
        Ligas
      </span>
      <span class="navbar-sections">
        Equipos
      </span>
      <span class="navbar-sections">
        Noticias
      </span>
      <div class="navbar-sections">
        Historial
      </div>
      <div class="navbar-sections">
        Mercancia
      </div>
    </div>
    <div class="navbar-options">
      Opciones
    </div>

  </nav>
  <main class="alert-danger content-body row m-0 p-0">
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[0]" alt="Random first slide" id='car-img'>
        </div>
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[1]" alt="Random second slide" id='car-img'>
        </div>
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img [src]="images[2]" alt="Random third slide" id='car-img'>
        </div>
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>
  </main> 
  <div class="row mx-0">
    <div class="col-12 text-center section-divisor py-2 m-0">
      <h2>Contenido</h2>
      
    </div>
  </div>
  <div class="search-results  row mx-0" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="col-3 my-0 p-2 alert-primary">
      <div class="card my-2 w-100" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title text-center">
            Title
          </h5>
          Match 1
          <hr>
          Match 2
          <hr>
          Match 3
          <hr>
          Match 4
        </div>
      </div>
    </div>
    <div class="col-6 row m-0 py-2 px-4 alert-warning">
      <div *ngFor='let publication of publications' class='col-12 row m-0 p-0 my-2 border publication-container'>
        <ng-container *ngFor='let file of publication.files' class="row m-0 my-2 p-2">
          <ng-container *ngIf='publication.files.length == 1'>

            <img src="{{file.file_name}}" class="img-fluid col-12 p-0 publication-img" alt="Responsive image">

          </ng-container>
          <ng-container *ngIf='publication.files.length == 2'>

            <img src="{{file.file_name}}" class="img-fluid col-6 p-0 publication-img" alt="Responsive image">

          </ng-container>
          <ng-container *ngIf='publication.files.length == 3'>

            <img src="{{file.file_name}}" class="img-fluid col-4 p-0 publication-img" alt="Responsive image">

          </ng-container>
          <ng-container *ngIf='publication.files.length > 3'>

            <img src="{{file.file_name}}" class="img-fluid col-3 p-0 publication-img" alt="Responsive image">

          </ng-container>

        </ng-container>
        <div class="publication-text col-12 row m-0 py-2 px-4">
          <h3 class="text-left col-10 p-0">{{publication.title}}</h3>
          <span class="col-2 p-0">{{publication.date_created | date }}</span>
          <span class="my-1 ">{{publication.description}}</span>
        </div>

      </div>
    </div>
    <div class="col-3 my-0 p-2 alert-success">
      <div class="card mt-2 mb-4 w-100" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">New</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date</h6>
          <p class="card-text">Some new content text to build on the card title and make up the bulk of the card's content.</p>
          <div class="text-right w-100 text-center">
            <button class="btn btn-outline-primary card-button">See New</button>
          </div>
        </div>
      </div>
      <div class="card mt-2 mb-4 w-100 black-card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">New</h5>
          <h6 class="card-subtitle mb-2 text-muted">Date</h6>
          <p class="card-text">Some new content text to build on the card title and make up the bulk of the card's content.</p>
          <div class="text-right w-100 text-center">
            <button class="btn btn-outline-warning card-button">See New</button>
          </div>
        </div>
      </div>
    </div>


    <ng-container *ngIf='numberOfPublications == publications.length'>
      <div class="text-center col-12 my-5">
        No hay mas registros
      </div>

    </ng-container>
    <footer class="col-12">
      <div class="footer">
        <div class="logo">
          <span>
            FUTV
          </span>
        </div>
        <ul class="links">
          <li><i class="fab fa-facebook-square"></i>Feisbuk</li>
          <li><i class="fab fa-linkedin"></i>Instogram</li>
          <li><i class="fab fa-twitter-square"></i>Twitwa</li>
        </ul>
        <div class="info">
          Info
        </div>
        <div class="logo2">
          Info
        </div>
      </div>
      <div class="footer-close">
        @2021
      </div>
    </footer>
  </div>

</div>





<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nueva Publicación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row m-0">
        <form class="col-md-12 mx-auto mt-2">
          <div class="form-group ">
            <label for="">Titulo</label>
            <input type="text" class="form-control" [(ngModel)]="publication.title" name="title" #title="ngModel">
          </div>
          <div class="form-group">
            <label for="">Descripción</label>
            <textarea name="" id="" cols="30" row m-0s="5" class="form-control" [(ngModel)]="publication.description"
              name="description" #description="ngModel"></textarea>
          </div>
          <div class="form-group">
            <label for="">Tags</label>
            <textarea name="" id="" cols="30" row m-0s="5" class="form-control" [(ngModel)]="publication.tags"
              name="tags" #tags="ngModel"></textarea>
          </div>
          <div class="form-group">
            <label for="">Imagen</label>
            <input type="file" class="form-control" (change)="selectFiles($event)" multiple>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)='createPublication();'>Nuevo</button>
      </div>
    </div>
  </div>
</div>